<?xml version="1.0"?>
<dewd xmlns="http://eksponent.com/dewd/1.2">
  <!--
    This is the configuration file for DEWD. For more information go to http://dewd.codeplex.com/
          
    See a few examples below. Build-in tables for umbraco were used to keep things simple 
    in the examples, but please don't put any of this stuff in production, it's just for show! :)
  -->
  <!-- Example: Include other configuration files with wildcard search -->
  <tweak do="clone" external="/config/dewd/*.config" />

  <!--<container name="Overzicht verstuurde emails">-->

  <repository name="Contact">
    <primaryKey name="id" />

    <view name="Overzicht" pageSize="25">
      <columns>
        <column field="Sender" />
        <column field="Receiver" />
        <column field="Subject" />
        <column field="Date sent" />
        <column type="Details" field="Sender name, Sender, Receiver, Cc, Bcc, Date sent, Subject, Message">
          <![CDATA[
              <h2 style='margin-top:0px'>Details</h2>
              <h3 style='margin-bottom:0px'>Sender name:</h3>{0}
              <h3 style='margin-bottom:0px'>Sender:</h3>{1}
              <h3 style='margin-bottom:0px'>Receiver:</h3><a href='mailto:{2}'>{2}</a>
              <h3 style='margin-bottom:0px'>Cc:</h3>{3}
              <h3 style='margin-bottom:0px'>Bcc:</h3>{4}
              <h3 style='margin-bottom:0px'>Date sent:</h3>{5}
              <h3 style='margin-bottom:0px'>Subject:</h3>{6}
              <h3 style='margin-bottom:0px'>Message:</h3>{7}           
              ]]>
        </column>
      </columns>
      <sql>
        <![CDATA[
            SELECT fromName AS [Sender name], fromEmail AS Sender, toEmail AS Receiver, IsNull(ccEmail, '') As Cc, IsNull(bccEmail, '') AS Bcc, date AS [Date sent], [subject] AS Subject, [message] AS Message
            FROM email
            WHERE [type] = 'Contact'
            ORDER BY id DESC
          ]]>
      </sql>

      <button type="TableButton" icon="cross.png" text="Remove all entries" onClientClick="return confirm('Are you sure you want to delete all contact emails?');">
        <sql>DELETE FROM email WHERE [type] = 'Contact'</sql>
      </button>
      <!--<button type="ExportToExcelButton" />-->
    </view>
  </repository>

  <!--</container>-->
</dewd>