<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="DAMP_CallImageCropper" value="true" />
  <add key="DAMP_OnlyIfEmpty" value="true" />
  <add key="ucomponents:RazorModelBinding" value="false" />
  <add key="ucomponents:DragAndDrop" value="false" />
  <add key="ucomponents:TrayPeek" value="false" />

  <!--Todo fill in these settings for error logging.-->
  <add key="errorFrom" value="" />
  <add key="errorFromName" value="" />
  <add key="errorTo" value="" />
</appSettings>