<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="true" excludeUmbracoNaviHide="true" />
  <urlRewrite enabled="false" forcewwwUrls="false" useTrailingSlashProperty="false" />
  <robotsTxt enabled="true" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration />
  <emailConfiguration />
  <keywordSelectionUrl>https://adwords.google.com/select/KeywordToolExternal</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>